@import "variables";

.q-consent-modal {
  font-size: 16px;

  h3 {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }

  .nav-tabs {
    margin: 0;
    padding: 0 25px;

    .nav-link {
      background-color: transparent;
      border-right: none;
      border-top: 0;
      color: $c-green;
      margin: 0 15px;
      padding: 20px 0;

      &:not(.q-tab-current) {
        border-color: transparent !important;
      }

      &.q-tab-current {
        border-left: none;
        border-bottom: 2px solid $c-green;
        color: $c-text;
      }
    }
  }

  .tab-targets {
    padding: 40px;
  }

  .settings {
    margin: 20px 0;

    .setting {
      border-bottom: 1px solid $c-border;
      padding: 20px 0;
    }
  }

  @media (max-width: 576px) {
    .tab-targets {
      padding: 20px;
    }

    .nav-tabs {
      padding: 0 5px;
    }

    .btn {
      width: 47%;
    }
  }
}