// @TODO make it local
body .featherlight.modal-consent .featherlight-content {
  border-radius: 4px;
  padding: 0;

  p {
    padding: 0;
  }

  .featherlight-close-icon {
    right: 15px;
    top: 15px;
  }
}

@media (max-width: 600px) {

}